@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.onboarding {
  &__button {
    @include button;
    margin: 1rem;
    width: 8rem;

    @include tablet-and-desktop {
      width: 11rem;
    }

    &-container {
      display: flex;
      justify-content: center;
    }
  }

  &__text {
    margin: 6rem 2rem 0 2rem;
  }

  &__title {
    font-size: 2.2rem;

    @include tablet-and-desktop {
      font-size: 3.2rem;
      margin-top: 2rem;
    }
  }
}
