@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.preference {
  &__wrapper {
    width: 320px;
    margin: 0 auto;
  }
  &__title {
    color: $text-color;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  &__button {
    @include button;
    margin-top: 1rem;
  }
}
