$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// $background: #111920;
$background: #1d1e2c;
$input-background: #ffffff;
$input-text: #000000;
$input-border: #c1c7c9;
$red: #ec1d27;
$text-color: rgba(255, 255, 255, 0.87);
$text-secondary-color: #1d1e2c;
