@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.preference {
  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: $text-color #f1f1f1;

    // @include tablet-and-desktop {
    //   justify-content: center;
    // }
  }

  &__subtitle {
    color: $text-color;
  }

  &__dietary {
    &-name {
      color: $text-color;
    }

    &-card {
      border: 1px solid #ffffff;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin: 1rem 0.75rem;
      flex-shrink: 0;
      width: 6rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: transform 0.3s ease, border-color 0.3s ease;

      &:hover {
        transform: scale(1.025);
        border-color: #d7d7d7;
      }
    }
  }
}
