@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.login {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input-username {
    padding: 0.85rem;
    @include input;
    background-image: url("../../assets/icons/profile.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 17px 17px;

    &::placeholder {
      text-align: center;
      //   color: #000000;
    }
  }

  &__input-password {
    padding: 0.85rem;
    @include input;
    background-image: url("../../assets/icons/password.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;

    &::placeholder {
      text-align: center;
      //   color: #000000;
    }
  }

  &__button {
    @include button;
    margin: 1rem 0;
  }

  &__link {
    color: $red;
  }
}
